spring.application.name=FreeTeachBE
spring.datasource.url=jdbc:postgresql://localhost:5432/FreeTeach
spring.datasource.username=postgres
spring.datasource.password=hoangdilo1412postgres
spring.datasource.driver-class-name=org.postgresql.Driver